 

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
body{
	font-family: 'Roboto', sans-serif;
}
 
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
header{
	background:#464646;
}
.top_nav{
	margin-top:50px;
	 
	
}

 

.top_nav ul li{
	list-style-type:none;
	float:left;
	margin-left:15px;
	line-height:35px !important;
}
.top_nav ul li a{
	color:#FFF;
	text-decoration:none;
	transition: all .5s linear 0s; font-size:14px;
 	
}
.top_nav ul li a:hover{
	color:#ff6c00;
	
}

.top_social_icon{
	margin-top:45px;
}


.top_social_icon ul li{
	list-style-type:none;
	float:left;
	margin-left:15px;
	line-height:35px !important;	
}
.top_social_icon ul li a{
	color:#FFF;
	text-decoration:none;
	transition: all .5s linear 0s;
	font-size:24px;
 	
}
.top_social_icon ul li a:hover{
	color:#ff6c00;
	
}


.menu{
	background:#ff6c00;
	padding-bottom:0 !important;
}

#top_content_part{
	padding-top:60px;
	padding-bottom:20px;
}
.top_content_part h1{

	margin-bottom:15px;
}


.top_content_part img{
	transition: all .5s linear 0s;
	margin-top:15px;

}
.top_content_part img:hover{
 	opacity:.5;
	transition-duration:.5s; 
	cursor:pointer;
}
#banner_part{}
.banner{
	background:url(../images/signup-vf-blured.png) center center;
	background-size:cover;
	height:317px;
	margin-top:25px;
	margin-bottom:40px;
	padding-top:40px;
}
.banner h2{
	text-align:center;
	color:#FFF;
}

.banner_text{
	text-align:center;
	margin-top:20px;
	 margin-bottom:50px;
}
.aaa_top {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9;
}
a{
	outline:none !important;
	}
#news_part{
	padding-top:40px;
	
}
.aa_top{
	margin-top:100px;
	position:relative;
}
.news{
	float:left;
	width:216px;
	height:205px;
	margin:7px;
	z-index:1;
}
.news_inner{
	width:216px;
	background:rgba(54, 54, 54, 0.7);
	height:40px;
	position:absolute;
	z-index:2;
	margin-top:-40px;
}
.news_inner p{
	font-size:23px;
	color:#FFF;
	margin-left:10px;
}


.news img{
	transition: all .5s linear 0s;
	 

}
.news img:hover{
 	opacity:.5;
	transition-duration:.5s; 
	cursor:pointer;
}


#article_icon{
	padding-top:35px;
}
.icon_bg_1{
	background:#7ca760;
	width:200px; height:200px;
	margin:0 auto;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	transition: all .5s linear 0s;
}
.icon_bg_1:hover{
	background:#f36523;
	transition-duration:.5s; 
	cursor:pointer;
	transform:scale(1.1);
}
.icon_bg_2{
	background:#f36523;
	width:200px; height:200px;
	margin:0 auto;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	transition: all .5s linear 0s;
}
.icon_bg_2:hover{
	background:#7ca760;
	transition-duration:.5s; 
	cursor:pointer;
	transform:scale(1.1);
}

.article_h{
	text-align:center; font-weight:bold; color:#7ca760;
}
.article_hb{
	text-align:center; font-weight:bold; color:#f36523;
}
.gray{
	color:#999;
 }
.row_margin_1{
	margin-top:30px;
	}

.row_margin_2{
	margin-top:60px;
	margin-bottom:20px;
	}
.row_margin_bootom{
	margin-bottom:50px;
	}
	
.col_margin{
	padding-left:15px; padding-right:15px; padding-top:20px; padding-bottom:20px;
}


.col_margin img{
	transition: all .5s linear 0s;opacity:.5;
	 

}
.col_margin img:hover{
 	opacity:1;
	transition-duration:.5s; 
	cursor:pointer;
	transform:scale(1.1);
	
}
#logo_part{
	padding-top:40px;
}

.contact_area{
	margin-top:65px;
}
.contact_banner{
	background:url(../images/contact_banner.jpg);
	background-size:cover;
	height:315px;
}
.contact{
	width:282px;
	height:208px;
	background:#363636;
	padding:25px;
	color:#FFF;
}
.contact p{
	font-size:24px;
}


footer{
	background:#363636; 
	padding-top:30px; padding-bottom:30px;
	
}
footer p{
	color:#FFF; 
}
footer ul li{
	list-style-type:none;
	float:left; margin-left:8px;
}
.email{
	background:#FFF;
    padding-left:5px;
	height:25px;
	width:25px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
}
.email a{
  color:#3f67c0;
  text-decoration:none;
}


.facebook{
	background:#3f67c0;
    padding-left:8px; padding-top:2px;
	height:25px;
	width:25px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
}
.facebook a{
  color:#FFFFFF;
  text-decoration:none;
}


.twitter{
	background:#2bb1eb;
    padding-left:7px; padding-top:2px;
	height:25px;
	width:25px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
}
.twitter a{
  color:#FFFFFF;
  text-decoration:none;
}



.instagram{
	background:#61554c;
    padding-left:7px; padding-top:2px;
	height:25px;
	width:25px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
}
.instagram a{
  color:#FFFFFF;
  text-decoration:none;
}


.youtube{
	background:#e64a41;
    padding-left:7px;
	height:25px;
	width:25px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
}
.youtube a{
  color:#FFFFFF;
  text-decoration:none;
}


.pintrest{
	background:#c5070f;
    padding-left:7px; padding-top:1px;
	height:25px;
	width:25px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
}
.pintrest a{
  color:#FFFFFF;
  text-decoration:none;
}
/* ====== bootstrap customization ======= */
 
.navbar-collapse{ padding-left:0;}
 
 
.navbar-default{ border:none; background:#ff6c00; padding-bottom:0 !important; margin-bottom:0 !important;}

.navbar-default .navbar-nav > li > a{ color: #FFFFFF;transition: all .5s linear 0s; font-size:18px;
margin-top:10px; margin-bottom:10px;
 }
.navbar-default .navbar-nav > li > a:hover{ color:#464646; }
.marg_0{
	margin:0; padding:0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

 

.hidden {
    display: none !important;
}

 
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

 

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

 

.invisible {
    visibility: hidden;
}

 

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

 @media (max-width:991px){ 
 
.top_nav{
	margin-top:10px;
	 
	
}
}


 @media (max-width:991px){ 
 
.top_social_icon{
	margin-top:10px;
	 
	
}
}
 @media (max-width:767px){ 
 
.top_social_icon{
	margin-top:40px !important;
	 
	
}
}
 
 
.logo{
	position:relative;
	width:auto;
	display:none;
	float:left;
	
	padding: 15px 0px 10px; margin-right:30px;
}
.logo_dply{
	display:block;
}
#main_nav{
	display:inline-block;
	width:auto;
	position:relative;
}


 